Django==5.1.4
asgiref==3.8.1
sqlparse==0.5.2
gunicorn==22.0.0
whitenoise==6.7.0
django-widget-tweaks==1.5.1
requests==2.32.3
pillow==10.4.0
reportlab==4.2.2
psycopg2-binary==2.9.10
dj-database-url==2.2.0
python-dotenv==1.0.1
PyJWT==2.9.0
joblib==1.4.2
certifi==2024.8.30
charset-normalizer==3.3.2
idna==3.10
urllib3==2.2.3
packaging==24.1
six==1.16.0
python-dateutil==2.9.0.post0
tzdata==2024.2
africastalking==2.0.2
pandas==2.2.3
